@media screen and (max-width:1300px){
    .about_top{
       flex-direction: column-reverse;
    }

    .about_title{
        text-align: center;
    }
    .about_description{
        text-align: center;
    }
    
}
@media screen and (max-width:992px){
    .header_mobile_body{
        display: flex;
    }
    .header_nav{
        display: none;
    }
    .header_authentication{
        display: none;
    }
}