@media screen and (max-width:1300px){
    .about_top{
       flex-direction: column-reverse;
    }

    .about_title{
        text-align: center;
    }
    .about_description{
        text-align: center;
    }
    
}
@media screen and (max-width:992px){
    .footer-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .footer_nav{
        justify-content: center;
    }
    .header_mobile_body{
        display: flex;
    }
    .header_nav{
        display: none;
    }
    .header_authentication{
        display: none;
    }
}

@media screen and (max-width:675px){
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 13px;
        gap: 26px;
    }
    .footer-top{
        gap: 11px;
    }
    .footer_nav_item{
        display: none;
    }
    .footer_nav{
        gap: 8px;
    }
    .footer_list_head_item{
        color:  #F2F2F2;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 196.187%; /* 23.542px */
    }
    .footer-logo img{
        width: 175px;
        height: 42px;
    }
    .footer-title{
        max-width: 260px;
        color: #FFF;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 196.187%; 
        border-top: 1px solid rgba(255, 255, 255, 0.59);
    }
}