@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Poppins:wght@400;500;600;700&display=swap');

:root {
   --fontMontserrat : 'Montserrat', sans-serif;
   --mainColor : #fffaf5;
   --sectionColor : #720418 ;
   --fontColor : #241400;
   --footerColor: #391f00;
}

