
  .search_container{
    display: flex;
    justify-content: space-between;
    align-items: self-start;
  }
  .search {
    display: flex;
    flex-direction: column;
    margin-top: 207px;
    margin-left: 215px;
    gap: 44px;
  }
  .search h1 {
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    color: #241400;
  }
  .search div {
    width: 433px;
    height: 69.524px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #cecece;
    background: #fff;
  }
  .search div p {
    margin-top: 19px;
    margin-left: 27px;
    font-family: Crimson Text;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #241400;
  }
  .search button {
    width: 433px;
    height: 65px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #e16a00;
    border: 0;
  
    color: #fff;
    text-align: center;
    font-family: Crimson Text;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .search button:hover {
    cursor: pointer;
  }
  .slider {
    position: relative;
    max-width: 800px;
    width: 100%;
    margin-top: 293px;
    margin-right: 59px;
    display: flex;
    gap: 37px;
    flex-shrink: 0;
    height: 504px;
    background: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  }
  .order_slider_arrow_left{
    position: absolute;
    left: -50px;
    display: flex;
    height: 100%;
    align-items: center;
  }
  .order_slider_arrow_right{
    position: absolute;
    right: -50px;
    display: flex;
    height: 100%;
    align-items: center;
  }
  .slider img {
    margin-top: 64px;
    margin-left: 31px;
    width: 220px;
    height: 306px;
  }
  .writing {
    display: flex;
    flex-direction: column;
    margin-top: 47px;
    font-family: Montserrat;
    color: #241400;
  }
  .writing h1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 196.187%;
  }
  .writing h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%;
  }
  .writing p {
    color: #241400;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%; /* 27.466px */
  }
  .social_medias {
    margin-top: 124px;
    display: flex;
    font-family: Montserrat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .social_medias h1 {
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 196.187%;
  }
  .social_medias .icons {
    margin-top: 22px;
    display: flex;
    gap: 54px;
  }